body {
    background-color: #66CCFF;
}

#Header {
    background-color: #66CCFF;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    color: #000080;
    width: 844px;
    text-decoration: underline;
}
#h1 {
    text-decoration: underline;
    font-size: large;
    color: #6600CC;
}
#h3
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
    color: #000000;
}
 #MainContent {
    padding: 10px;
    width: 664px;
    float: left;
    
}
 
 #footer
  {
    background-color: #66CCFF;
    font-size: medium;
    font-family: 'Times New Roman' , Times, serif;
    width: 844px;
    clear: both;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    color: #FF33CC;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    bottom: auto;
}

#pagewrapper 
{
    width:844px;
}

#sidebar {
    background-color: #66CCFF;
    float: left;
    width: 180px;
}
   
 

#Menu {
margin:0;
padding:0;
}
#Menu li {
display:inline;
padding:0;
margin:0;
}

#MenuWrapper {
    width: 844px;
    background-color: #66CCFF;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    color: #000080;
}

#MainContent a
{
    color: #9933FF;
    text-decoration: underline;
}

#MainContent a:visited
{
    text-decoration: underline;
    color: #800080;
}

#MainContent a:hover
{
    color: #9933FF;
    text-decoration: underline;
}

#Header a
{
    background-color: #66CCFF;
    color: #6600CC;
}

#Header a:hover
{
    background-color: #0000FF;
    color: #00CCFF;
}
#Menu a :visited {
    background-color: #9966FF;
    color: #CC33FF;
}
#Menu a:hover {
    background-color: #6699FF;
}

